.chartMain {
  overflow: hidden;
}

.axis {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.axisLabel {
  display: none;
}

.line {
  fill: none;
  stroke-width: 2px;
  opacity: 0.8;
}

.selectedLine {
  stroke-width: 3px;
  opacity: 1.0;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #777;
  stroke-width: 3px;
}
  
.hover-line {
  stroke: #777;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

.tick {
  font-size: 0.8rem;
}

.chartToolTip {
  position: absolute;
  background-color: whitesmoke;
  border: solid 1px #222;
  padding: 2px 4px;
  border-radius: 4px;
  min-width: 110px;
}

.tooltipItem {
  height: 24px;
  line-height: 24px;
}