.chartMain {
  overflow: hidden;
}

.axis {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.axisLabel {
  display: none;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.selectedLine {
  stroke-width: 5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #777;
  stroke-width: 3px;
}
  
.hover-line {
  stroke: #777;
  stroke-width: 2px;
  stroke-dasharray: 3,3;
}

.tick {
  font-size: 0.8rem;
}

.chartToolTip {
  position: absolute;
  background-color: plum;
  width: 100px;
  height: 100px;
}