
.rangeSliderMain {
	color: #1976d2;
	width: 100%;
	height: 100%;
	width: 100%;
	cursor: pointer;
	height: 2px;
	display: inline-block;
	padding: 13px 0;
	position: relative;
	box-sizing: content-box;
	touch-action: none;
}

.rangeRail {
	color: #1976d2;
	width: 100%;
	height: 2px;
	display: block;
	opacity: 0.38;
	position: absolute;
	border-radius: 1px;
	background-color: currentColor;
}

.rangeTrack {
	height: 2px;
	display: block;
	position: absolute;
	border-radius: 1px;
	transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	background-color: currentColor;
}

.rangeTrack:hover {
	box-shadow: 0px 0px 0px 3px rgba(25, 118, 210, 0.26);
}

.thumbText {
	background-color: #1976d2;
	color: white;
	padding: 5px 10px;
	border-radius: 10px;
	top: -34px;
	z-index: 1;
	position: absolute;
	font-size: 0.75rem;
	transform: scale(0);
	transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	font-weight: 400;
	line-height: 1.2;
	letter-spacing: 0.01071em;
	transform-origin: bottom center;
	text-align: center;
	width: 5.5rem;
}

.rangeThumb {
	width: 12px;
	height: 12px;
	display: flex;
	outline: 0;
	position: absolute;
	box-sizing: border-box;
	margin-top: -5px;
	transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	align-items: center;
	margin-left: -6px;
	border-radius: 50%;
	justify-content: center;
	background-color: currentColor;
	opacity: 1.0;
}

.rangeThumb:hover {
	box-shadow: 0px 0px 0px 8px rgba(25, 118, 210, 0.26);
}

.rangeThumb:hover .thumbText {
	transform: scale(1);
}
